.cards-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    transition: box-shadow 0.2s;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    width: 450px;

    p {
        text-align: center;
    }
}

.card > .fas {
    font-size: 120px;
}

.card > * {
    margin: 35px 10px;
}

.card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

form {
    font-size: 20px;
}

.login-form {
    width: 400px;
}

button {
    min-width: 150px;
    margin: 15px auto 0 auto !important;

    i {
        margin-right: 15px;
    }
}

a {
    i {
        margin-right: 7px;
        font-size: 20px;
    }
}

section {
    max-width: 1600px;
    margin: auto;
}

html, body, main {
    height: 100%;
}

a:focus {
    outline: none;
}

.cabinet-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 56px);
}